<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Vista de Datos</title>
</head>
<body>
    <div class="container-table">
        <h1>Datos Obtenidos de BigQuery</h1>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>image</th>
                    <th>make</th>
                    <th>makeId</th>
                    <th>makeImage</th>
                    <th>votes</th>
                    <th>rank</th>
                    <th>engineVol</th>
                    <th>comments</th>
                    <th>totalComments</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.image }}</td>
                        <td>{{ item.make }}</td>
                        <td>{{ item.makeId }}</td>
                        <td>{{ item.makeImage }}</td>
                        <td>{{ item.votes }}</td>
                        <td>{{ item.rank }}</td>
                        <td>{{ item.engineVol }}</td>
                        <td>{{ item.comments }}</td>
                        <td>{{ item.totalComments }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
</body>
</html>
